<nav>
    <div class="site-title">
      <a href="/"><h1>Task-Ninja</h1></a>
      <p>Fanstastic-Four Etc Scheduler</p>
    </div>
    <ul>
      <li><a href="/blogs">All Events</a></li>
      <li><a href="/blogs/create">New Event</a></li>
    </ul>
  </nav>