<h1>Academic Resources</h1>
<div class = "calendarA">
    <iframe src="https://calendar.google.com/calendar/embed?height=600&wkst=1&bgcolor=%234285F4&ctz=America%2FNew_York&src=Y185ZWVjZDFlMDY4NGM0ZjEzYzIzYjJmMTIxZGY1YTAwYjZkMzA4OTExMDg1NWUwZGQ5ZGFiMjUzNDFlNTVkMTE1QGdyb3VwLmNhbGVuZGFyLmdvb2dsZS5jb20&color=%234285F4" style="border:solid 1px #777" width="800" height="600" frameborder="0" scrolling="no" id="calA"></iframe>
</div>
<h3 id="textHeadingA">Important Locations and Offices</h3>
<div class = "SSC">
    <div class = "SCCtext">
        <h4 id="SSChead">Student Success Center (SSC)</h4>
        <p id="SSCp">
        <p>The Student Success Center (SSC) aims to provide help and resources to students to help them better manage their workload. Topics that a coach at the student success center can help you with include: attention management, goal setting, study skills, test taking, note taking, organization, and more. For more information or to make an appointment please visit their website. <br>
        <br>Phone Number: 941-487-4513 
        <br>Email Address: studentsuccess@ncf.edu
        <br>Office: Hamilton Classroom 5
        <br><a href="https://www.ncf.edu/academics/academic-career-services/student-success-center/">SSC Website</a> 
        </p>
    </div>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1771.3426784274525!2d-82.55682987147205!3d27.385540233182134!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88c33fda1c4d3b63%3A0xdbeda713af668f2e!2s5920%20General%20Dougher%20Pl%2C%20Sarasota%2C%20FL%2034243!5e0!3m2!1sen!2sus!4v1676573207686!5m2!1sen!2sus" width="300" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" id="SSCmap"></iframe>
</div>

<div class = "START">
    <div class = "STARTtext">
        <h4 id="STARThead">START Center</h4>
        <p id="STARTp">The Student Success Center (SSC) aims to provide help and resources to students to help them better manage their workload. Topics that a coach at the student success center can help you with include: attention management, goal setting, study skills, test taking, note taking, organization, and more! For more information or to make an appointment please visit their website. <br>
        <br> Phone Number: 941-487-4513 
        <br> Email Address: studentsuccess@ncf.edu 
        <br>Office: PMD, First Floor
        <br><a href="https://www.ncf.edu/academics/academic-career-services/student-success-center/">START Center Website</a> 
        </p>
    </div>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1076.3830773878406!2d-82.560491726993!3d27.38498056731083!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88c33fd839c0f2a7%3A0x227bec3626df5d88!2s513%2058th%20St%2C%20Sarasota%2C%20FL%2034243!5e1!3m2!1sen!2sus!4v1676675183782!5m2!1sen!2sus" width="300" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" id="STARTmap"></iframe>
</div>

<div class = "CEO">
    <div class = "CEOtext">
        <h4 id="CEOhead">Career Engagement & Opportunity</h4>
        <p id="CEOp">The Career Engagement & Opportunity Center (CEO) helps students prepare for interviews, internships, and job applications. They offer one-on-one sessions with career coaches free of service. Call or email to book an appointment. For more information please visit their website. <br>
        <br> Open weekdays from 9a.m. - 5p.m.
        <br> Phone Number: 941-487-5002
        <br> Email Address: ceo@ncf.edu
        <br>Office: Modular Building
        <br><a href="https://www.ncf.edu/ceo/">CEO Website</a> 
        </p>
    </div>
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d1114.9757099950139!2d-82.55755525982006!3d27.385970798195277!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e1!3m2!1sen!2sus!4v1676675715348!5m2!1sen!2sus" width="300" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" id="CEOmap"></iframe>
</div>

<div class = "LIB">
    <div class = "LIBtext">
        <h4 id="LIBhead">Jane Bancroft Cook Library</h4>
        <p id="LIBp">The Jane Bancroft Cook Library is an important student resource. It offers printers, private study rooms, research assistance and resources, hosts events, holds the WRC and QRC, along with much more. Visit their website for more information on the services and resources they offer.  <br>
        <br> Spring Hours: January 7th - May 19th 
        <br>Monday-Wednesday 8am-1am
        <br>Thursday 8am-11pm
        <br>Friday 8am-5pm
        <br>Saturday Noon-6pm
        <br>Sunday Noon-1am
        
        <br> Phone Number: 941-487-4305
        <br> Email Address: library@ncf.edu
        <br><a href="https://www.ncf.edu/library/">Library Website</a> 
        </p>
    </div>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2319.2911112287666!2d-82.55776029918289!3d27.385588162535615!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88c33fd757865b2f%3A0xc9e754516a0e1898!2sJane%20Bancroft%20Cook%20Library!5e1!3m2!1sen!2sus!4v1676676186184!5m2!1sen!2sus" width="300" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" id="LIBmap"></iframe>
</div>

<div class = "QRC">
    <div class = "QRCtext">
        <h4 id="QRChead">Quantitative Resource Center</h4>
        <p id="QRCp">The Quantitative Resource Center (QRC), part of the Academic Resource Center (ARC), is a dedicated space for aiding students in quantitative matters. It provides individual and small group peer tutoring for students in Chemistry, Mathematics, Physics, Statistics, Computer Science, Economics, and Biology. For more information please visit their website. <br>
        <br> Phone Number: 941-487-4742
        <br> Email Address: qrc@ncf.edu
        <br>Office: Lib 119
        <br> For hours visit <a href="https://docs.google.com/document/d 1L0XZMoaLLcjo3mYXh-FiecAZrE0uLhnQTdYErfcyPRI/edit">QRC Office Hours</a>
        <br><a href="https://www.ncf.edu/departments/quantitative-resource-center/">QRC Website</a> 
        </p>
    </div>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2319.2911112287666!2d-82.55776029918289!3d27.385588162535615!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88c33fd757865b2f%3A0xc9e754516a0e1898!2sJane%20Bancroft%20Cook%20Library!5e1!3m2!1sen!2sus!4v1676676186184!5m2!1sen!2sus" width="300" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" id="QRCmap"></iframe>
</div>

<div class = "WRC">
    <div class = "WRCtext">
        <h4 id="WRChead">Writing Resource Center</h4>
        <p id="WRCp">The Writing Resource Center (WRC), part of the Academic Resource Center (ARC), provides assistance to New College students, faculty, and staff with any writing at any stage in the writing process. They also provide free coffee and tea to students as well as a study space. To book an appointment or for more information please visit their website. <br>
        <br> Phone Number: 941-487-4506
        <br> Email Address: writing@ncf.edu
        <br>Office: Lib 103
        <br><a href="https://www.ncf.edu/academics/writing-program/writing-resource-center/">WRC Website</a> 
        </p>
    </div>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2319.2911112287666!2d-82.55776029918289!3d27.385588162535615!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88c33fd757865b2f%3A0xc9e754516a0e1898!2sJane%20Bancroft%20Cook%20Library!5e1!3m2!1sen!2sus!4v1676676186184!5m2!1sen!2sus" width="300" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" id="WRCmap"></iframe>
</div>