<h1>Campus Resources</h1>
<div class = "calendarC">
    <iframe src="https://calendar.google.com/calendar/embed?height=600&wkst=1&bgcolor=%234285F4&ctz=America%2FNew_York&src=M2M4YTE3M2FiNmVjMzlmYTJhMzZkMWE3ODUyMjY3ZTVjMzhjYWZiZGRhNWJmY2QxMGNlZjA1M2E2NDllM2E0ZkBncm91cC5jYWxlbmRhci5nb29nbGUuY29t&color=%233F51B5" style="border:solid 1px #777" width="800" height="600" frameborder="0" scrolling="no" id="calC"></iframe>
</div>
<h3 id="textHeadingC">Important Locations and Offices</h3>

<div class = "HAM">
    <div class = "hamText">
        <h4 id="HAMhead">Hamilton Cafe</h4>
        <p id="HAMhead">HAM (Hamilton Cafe) is the center of New College Dining. Here you will find a variety of all-you-care-to-eat options including: homestyle favorites at Main Plate, grilled delights at J. Clark's Grille, fresh made pizza at Villa Toscana, vegan, vegetarian, and gluten free options, local favorites, and much more. You may view their website and daily menu on their website. 
            <br> <br>
            Breakfast is served Monday through Friday 8:00 - 10:00 AM <br>
            Lunch is served Monday through Friday 11:00 - 2:00 PM <br>
            Brunch is served Saturday and Sunday 11:00-1:00 PM <br>
            Dinner is served Monday through Friday 4:30-7:00 PM and Saturday and Sunday 4:30-6:30 PM
        <br>
             <a href="https://www.metznewcollege.com/cafe.html">HAM website</a>
        </p>
    </div>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1545.2679248221425!2d-82.55582401919992!3d27.385040644771493!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88c33fda1838b2d5%3A0x82baa68f8545765e!2sNew%20College%20of%20Florida%20Cafeteria!5e1!3m2!1sen!2sus!4v1676673148196!5m2!1sen!2sus" width="300" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" id="HAMmap"></iframe>
</div>

<div class = "BHD">
    <div class = "BHDtext">
        <h4 id="BHDhead">Boars Head Deli</h4>
        <p id="BHDp">Boars Head Deli features a sandwich and flatbread bar, Starbucks, convenience store, and fountain drinks from Coca-Cola. <br> <br>
            Monday - Thursday |12- 10p.m. <br>
            Friday | 12 p.m. - 5 p.m. <br>
            Starbucks Coffee <br>                  
            Open Noon to 8:00p.m. <br>
            Boar's Head Deli <br>
            Noon to 9:45p.m.<br>
            <a href="https://www.metznewcollege.com/deli.html">Boars Head Website</a> 

        </p>
    </div>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d275.0674129166909!2d-82.55593764532861!3d27.385040644771493!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88c33fda1841422f%3A0x521cb006372a132f!2sGeneral%20Dougher%20Pl%2C%20Sarasota%2C%20FL%2034243!5e1!3m2!1sen!2sus!4v1676673228484!5m2!1sen!2sus" width="300" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" id="BHDmap"></iframe>
</div>

<div class = "CWC">
    <div class = "CWCtext">
        <h4 id="CWChead">Counseling and Wellness Center</h4>
        <p id="CWCp">
            The CWC provides health services, counseling, victim advocate, and health education to NCF students. For more information or to make an appointment you can call, email, or visit their website. <br>
             <br>
                8:00 AM - 5:00 PM Monday - Friday 
                <br>
                Phone Number
                941-487-4254
                <br>
                Email Address
                wellness@ncf.edu
                <br>
                <a href="https://www.ncf.edu/cwc/"> CWC Website</a>
        </p>
    </div>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3717.9921722170807!2d-82.560626684389!3d27.385013800000035!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88c33fd835faf293%3A0xf5f7a6055c17bec3!2s5805%20Bay%20Shore%20Rd%2C%20Sarasota%2C%20FL%2034243!5e1!3m2!1sen!2sus!4v1676673263993!5m2!1sen!2sus" width="300" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" id="CWCmap"></iframe>
</div>

<div class = "HO">
    <div class = "HOtext">
        <h4 id="HOhead">Housing Office</h4>
        <p id="HOp">
            The Housing Office aims to provide adequate housing for NCF students and to assist in any NCF residence related issues. For more information please visit their website. <br>
             <br>
                Office
                Hamilton Classroom 001
                <br>
                Phone Number
                (941) 487-4259
                <br>
                Email Address
                Housing-ResLife@ncf.edu
                <br>
                <a href="https://www.ncf.edu/departments/housing-residential-life/"> Housing Office Website</a>
        </p>
    </div>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1771.3426784274525!2d-82.55682987147205!3d27.385540233182134!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88c33fda1c4d3b63%3A0xdbeda713af668f2e!2s5920%20General%20Dougher%20Pl%2C%20Sarasota%2C%20FL%2034243!5e0!3m2!1sen!2sus!4v1676573207686!5m2!1sen!2sus" width="300" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" id="HOmap"></iframe>
</div>

<div class = "WF">
    <div class = "WFtext">
        <h4 id="WFhead">Caples Waterfront</h4>
        <p id="WFp">
            The Caples Waterfront is home to a small beach, the marine research and recreation dock, and the boathouse. The boathouse has paddleboards, kayaks, and sail boats available for students to check out as well as information on how to become an approved sailer and sail lessons. <br>
            For more information on the Waterfront please visit 
            <a href="https://www.ncf.edu/life-at-new/health-well-being/campusrec/waterfront-program/">Waterfront Website</a>
            <br>
            For more information on the Boathouse please visit
            <a href="https://novoconnect.ncf.edu/organization/waterfront">Boathouse Website</a>
        </p>
    </div>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1122.1374298955075!2d-82.56339708107171!3d27.380533722612757!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88c31561894464e3%3A0xde989f12a19c49a7!2sNew%20College%20of%20Florida%20Waterfront!5e1!3m2!1sen!2sus!4v1676673423081!5m2!1sen!2sus" width="300" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" id="WFmap"></iframe>
</div>

<div class = "FF">
    <div class = "FFtext">
        <h4 id="FFhead">NCF Garden and Food Forest</h4>
        <p id="FFp">
            The NCF Garden and Food Forest is a student community garden open to all. One may participate in the gardening alone or through the frequently offered Gardening Tutorial or simply by attending a Gardening Club meeting. There is limited information available online for the food forest, though efforts have been made in the past to map and catalog all the plants.  
        </p>
    </div>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1122.1374298955075!2d-82.56339708107171!3d27.380533722612757!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88c315655eeb96f9%3A0x92f3b8dd74e277d9!2sCouncil%20of%20Green%20Affairs%20Caples%20Garden!5e1!3m2!1sen!2sus!4v1676673454084!5m2!1sen!2sus" width="300" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" id="FFmap"></iframe>
</div>

<div class = "FW">
    <div class = "FWtext">
        <h4 id="FWhead">Four Winds</h4>
        <p id="FWp">
            Four Winds was previously a student run cafe. After closing during COVID, it has recently reopened. Though no longer serving food, it is a welcoming space for students to socialize, study, and hold events. 
            <br><br>Open weekdays from 10:00 AM - 2:00 PM.   
        </p>
    </div>
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d681.217022333509!2d-82.56275337815939!3d27.385413311479333!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e1!3m2!1sen!2sus!4v1676673501230!5m2!1sen!2sus" width="300" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" id="FWmap"></iframe>
</div>

<div class = "RC">
    <div class = "RCtext">
        <h4 id="RChead">Recreation Center</h4>
        <p id="RCp">
            The New College Recreation Center features a 25 meter swimming pool, hot tub, exercise machines, a yoga and dance studio, and classes. For more information you can call, email, or visit their website. <br>
             <br>
                Phone Number
                (941) 487-4218
                <br>
                Email Address
                recreation@ncf.edu
                <br>
                <a href="https://www.ncf.edu/life-at-new/health-well-being/campusrec/rec-center/">Recreation Center Website</a>
        </p>
    </div>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1260.2423182840614!2d-82.55573953841055!3d27.384238927513145!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88c33fdbcaa93d81%3A0x9425c2ec91d7d289!2s5639%20General%20Twinning%2C%20Sarasota%2C%20FL%2034243!5e1!3m2!1sen!2sus!4v1676673552210!5m2!1sen!2sus" width="300" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" id="RCmap"></iframe>
</div>

<button type="button">
    <a href="/test">Click Me for a Surprise</a>
</button>