<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<h2>My Class Schedule</h2>

<div class="tab">
  <button class="tablinks" onclick="openTab(event, 'day')" id="defaultOpen">Day</button>
  <button class="tablinks" onclick="openTab(event, 'month')">Month</button>
  <button class="tablinks" onclick="openTab(event, 'year')">Year</button>
</div>

<div id="day" class="tabcontent">
  <table>
      <tr>
        <th>Time</th>
        <th>Event</th>
      </tr>

    </table>
</div>

<div id="month" class="tabcontent">
  <table>
      <tr>
        <th>Day</th>
        <th>Event</th>
      </tr>

    </table>
</div>

<div id="year" class="tabcontent">
  <table>
      <tr>
        <th>Day</th>
        <th>Event</th>
      </tr>

    </table>
</div> 
<script>
  // Get the element with id="defaultOpen" and click on it
document.getElementById("defaultOpen").click();
</script>
</body>
</html> 
