<!DOCTYPE html> <!--https://www.w3schools.com/howto/howto_js_vertical_tabs.asp-->
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<h2>My Schedule</h2>

<div class="schedBox">
  <div class="schedTab">
    <button class="schedTablinks" onclick="openScheduleTab(event, 'day')" id="defaultOpen">Day</button>
    <button class="schedTablinks" onclick="openScheduleTab(event, 'month')">Month</button>
    <button class="schedTablinks" onclick="openScheduleTab(event, 'year')">Year</button>
  </div>

  <div id="day" class="schedTabcontent">
    <table id = daySched>
        <tr>
          <th>Time</th>
          <th>Event</th>
          
        </tr>
        <!--tr>
          <td>9-10:00</td>
          <td>Software Engineering</td>
        </tr-->

      </table>
    
      <br> <!--Line Break for spacing-->
    <h4 id = "allDayEvent">All Day Events</h3>
      <hr class="hrEventLine">
      <ul id = allDayEventList>
        <!--Room for all day events in bullet points-->
      </ul> 
  </div>

  <div id="month" class="schedTabcontent">
    <table id = monthSched>
        <tr>
          <th>Day</th>
          <th>Event</th>
        </tr>

      </table>
  </div>

  <div id="year" class="schedTabcontent">
    <table id = yearSched>
        <tr>
          <th>Day</th>
          <th>Event</th>
        </tr>

      </table>
  </div> 
</div>
<div class="calForm">
  <form action="/action_page.php"> <!--This may need to be changed to get info from the form-->
    <label for="Select Date">Select Date: </label>
    <input type="date" id="schedDate" name="schedDate">
    <input type="submit">
  </form>

  <br>
  <br>
  <br>
  <br>

  <button class="newClassButton" id="newEvent" type="button">Add New Class or Event</button>
  <br>
  <br>
  <button class="newClassButton" id="removeEvent" type="button">Remove Class or Event</button>
</div>

</body>
</html> 
