<!--Homepage for the Task Ninja (should be the schedule page)-->
<button id="addScheduleEvent">Add Event</button>

<script>
    $("#addScheduleEvent").on("click", () => {
        console.log("Hello");
    });
</script>