<!DOCTYPE html>
<html>
  <head>
    <title>New Sails App</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <%/* If you want to discourage search engines from indexing this site, uncomment the following line: */%>
    <%/* <meta name="robots" content="noindex"> */%>

    <!--STYLES-->
    <link rel="stylesheet" href="/styles/homepage.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <!--STYLES END-->

    <link rel="stylesheet" href="/styles/homepage.css">

  </head>

  <body>
    <%- body %>


    <!--SCRIPTS-->
    <script src="/dependencies/sails.io.js"></script>
    <script src="/js/openScheduleTab.js"></script>
    <!--SCRIPTS END-->

    <script src="/js/openScheduleTab.js"></script>

  </body>
</html>
